<tr>
  <td><%= station.name %></td>
  <td><%= link_to 'Show', admin_station_path(station) %></td>
  <td><%= link_to 'Edit', edit_admin_station_path(station) %></td>
  <td><%= link_to 'Destroy', admin_station_path(station), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
